DSN/xsd_P26/SADV/Bloc3_SADV.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- V 1.0 - 06/05/2025 - RTH - 25M12 -  Création de la XSD pour les SADV -->

<!-- Version XSD : V 1.0 - 25M12 -->

<!-- Arborescence  d'une DSN SADV (données transmises à PE) - Format simplifié par bloc  -->
<!--
N1	|N2	|N3	|N4	|N5	|N6	|N7	|N8
S10.G00.00	ENVOI																							1..1
	S10.G00.01	EMETTEUR																					1..1
	S10.G00.02	CONTACT EMETTEUR																			1..1
	S10.G00.95	DONNEES DE SUIVI BLOC 1																		1..1
	S20_G00_05	DSN SADV																				1..1
		S20.G00.07	CONTACT CHEZ LE DECLARE																	0..*
		S20_G00_96	DONNEES DE SUIVI BLOC 1																	1..1
		S21.G00.06	ENTREPRISE																				1..1
				S21.G00.11	ETABLISSEMENT																	1..1
					S21.G00.30 INDIVIDU 																		0..*
						S21_G00_40 CONTRAT (CONTRAT DE TRAVAIL, CONVENTION, MANDAT)								0..*
							S21_G00_65 AUTRE SUSPENSION DE L'EXÉCUTION DU CONTRAT								0..*
						S21_G00_86 ANCIENNETE																	0..*
		S21_G00_85 LIEU DE TRAVAIL OU ÉTABLISSEMENT UTILISATEUR 											0..*
S90.G00.90	TOTAL DE L'ENVOI																				1..1
-->


<!-- Arborescence d'une DSN SADV (données transmises à PE) - Format complet - -->
<!--
N1	|N2	|N3	|N4	|N5	|N6	|N7	|N8
S10.G00.00	ENVOI																			1..1
	S10_G00_00_001 NOM DU LOGICIEL UTILISÉ														1..1
	S10_G00_00_002 Nom de l'éditeur																1..1
	S10_G00_00_003 Numéro de version du logiciel utilisé										0..1
	S10_G00_00_004 Code de conformité en pré-contrôle											0..1
	S10_G00_00_005 Code envoi du fichier d'essai ou réel										1..1
	S10_G00_00_006 Numéro de version de la norme utilisée										1..1
	S10_G00_00_007 Point de dépôt																1..1
	S10_G00_00_008 Type de l'envoi																1..1
	
	S10.G00.01	EMETTEUR																	1..1
		S10_G00_01_001 Siren de l'émetteur de l'envoi											1..1
		S10_G00_01_002 Nic de l'émetteur de l'envoi												1..1
		S10_G00_01_003 Nom ou raison sociale de l'émetteur										1..1
		S10_G00_01_004 Numéro, extension, nature et libellé de la voie							0..1
		S10_G00_01_005 Code postal																0..1
		S10_G00_01_006 Localité																	0..1
		S10_G00_01_007 Code pays																0..1
		S10_G00_01_008 Code de distribution à l'étranger										0..1
		S10_G00_01_009 Complément de la localisation de la construction 						0..1
		S10_G00_01_010 Service de distribution, complément de localisation de la voie			0..1
		
	S10.G00.02	CONTACT EMETTEUR																					1..1
		S10_G00_02_001 Code civilité 																					0..1
		S10_G00_02_002 Nom et prénom de la personne à contacter															1..1
		S10_G00_02_004 Adresse mél du contact émetteur 																	1..1
		S10_G00_02_005 Adresse téléphonique 																			1..1
		S10_G00_02_006 Adresse fax		 																				0..1
								
	S10_G00_95	DONNEES DE SUIVI BLOC 1																				1..1
		S10_G00_95_001 Nom du déclarant 																				1..1
		S10_G00_95_002 Prénom du déclarant 																				1..1
		S10_G00_95_003 Siret du déclarant 																				1..1
		S10_G00_95_006 Mode de dépôt 																					0..1
		S10_G00_95_007 Site déposant 																					0..1
		S10_G00_95_008 Horodatage 																						1..1
		S10_G00_95_009 Raison sociale du déclarant 																		0..1
		S10_G00_95_900 Identifiant du flux 																				1..1
		S10_G00_95_901 Adresse mél du déclarant 																		0..1
								
	S20_G00_05	DSN SADV																						1..1
		S20_G00_05_001 Nature de la déclaration 																	1..1
		S20_G00_05_002 Type de la déclaration																		1..1
		S20_G00_05_003 Numéro de fraction de déclaration															1..1
		S20_G00_05_004 Numéro d'ordre de la déclaration 															1..1
		S20_G00_05_006 Identifiant de la déclaration annulée ou remplacée 											0..1
		S20_G00_05_007 Date de constitution du fichier 																1..1
		S20_G00_05_009 Identifiant métier  																			0..1
		S20_G00_05_011 Nature de l'événement déclencheur du signalement   											1..1
								
		S20.G00.07	CONTACT CHEZ LE DECLARE																			0..*
			S20_G00_07_001 Nom et prénom du contact																		1..1
			S20_G00_07_002 Adresse téléphonique																			1..1
			S20_G00_07_003 Adresse mél du contact																		1..1
			S20_G00_07_004 Type																							1..1
								
		S20_G00_96	DONNEES DE SUIVI BLOC 1																			1..1
			S20_G00_96_010 Identifiant DSN de la déclaration annulée et remplacée 										0..1
			S20_G00_96_902 Identifiant de la DSN dans le flux 															1..1
									
		S21.G00.06	ENTREPRISE																						1..1
			S21_G00_06_001 SIREN   																						1..1
			S21_G00_06_002 NIC du siège																					0..1
			S21_G00_06_903 Raison sociale de l’entreprise																0..1

			S21.G00.11	ETABLISSEMENT																				1..1
				S21_G00_11_001 NIC																						1..1
				S21_G00_11_002 Code APET																				1..1
				S21_G00_11_003 Numéro, extension, nature et libellé de la voie											0..1
				S21_G00_11_004 Code postal																				0..1
				S21_G00_11_005 Localité																					0..1
				S21_G00_11_006 Complément de la localisation de la construction											0..1
				S21_G00_11_007 Service de distribution, complément de localisation de la voie							0..1
				S21_G00_11_904 Enseigne de l’établissement																0..1
				
				S21.G00.30 INDIVIDU 																				0..*
					S21_G00_30_001 Numéro d'inscription au répertoire     												0..1
					S21_G00_30_002 Nom de famille 																		1..1
					S21_G00_30_003 Nom d'usage																			0..1
					S21_G00_30_004 Prénoms																				1..1
					S21_G00_30_005 Sexe																					0..1
					S21_G00_30_006 Date de naissance																	1..1
					S21_G00_30_007 Lieu de naissance																	0..1
					S21_G00_30_008 Numéro, extension, nature et libellé de la voie										0..1
					S21_G00_30_009 Code postal																			0..1
					S21_G00_30_010 Localité																				0..1
					S21_G00_30_011 Code pays																			0..1
					S21_G00_30_012 Code de distribution à l'étranger													0..1
					S21_G00_30_013 Codification UE																		1..1
					S21_G00_30_014 Code département de naissance														1..1
					S21_G00_30_015 Code pays de naissance																1..1
					S21_G00_30_016 Complément de la localisation de la construction										0..1
					S21_G00_30_017 Service de distribution, complément de localisation de la voie						0..1
					S21_G00_30_018 Adresse mél																			0..1
					S21_G00_30_019 Matricule de l'individu dans l'entreprise											0..1
					S21_G00_30_020 Numéro technique temporaire															0..1
					S21_G00_30_022 Statut à l'étranger au sens fiscal													0..1
					S21_G00_30_023 Embauche																				0..1
					S21_G00_30_029 Libellé du pays de naissance															0..1
					S21_G00_30_300 Numéro d'inscription au répertoire SNGI												0..1
					S21_G00_30_301 Date de naissance certifiée SNGI														0..1
					S21_G00_30_302 Nom de famille certifié SNGI															0..1
					S21_G00_30_303 Prénoms certifiés SNGI																0..1
					S21_G00_30_305 Code résultat certifié SNGI															0..1
					S21_G00_30_306 Indice de certification SNGI															0..1
					S21_G00_30_307 Commune de naissance certifiée SNGI													0..1
					S21_G00_30_308 Code département de naissance certifié SNGI											0..1
					S21_G00_30_309 Pays de naissance certifié SNGI														0..1
					S21_G00_30_310 Date du NIR certifiée SNGI															0..1
					S21_G00_30_311 NIR Daté																				0..1
					S21_G00_30_312 Date de décès SNGI																	0..1
					S21_G00_30_313 Code confusion identité																0..1

					S21_G00_40 CONTRAT (CONTRAT DE TRAVAIL, CONVENTION, MANDAT)										0..*
						S21_G00_40_001 Date de début du contrat 														1..1
						S21_G00_40_002 Statut du salarié (conventionnel)												1..1
						S21_G00_40_003 Code statut catégoriel Retraite Complémentaire obligatoire						1..1
						S21_G00_40_004 Code profession et catégorie socioprofessionnelle (PCS-ESE)						1..1
						S21_G00_40_005 Code complément PCS-ESE															0..1
						S21_G00_40_006 Libellé de l'emploi																1..1
						S21_G00_40_007 Nature du contrat																1..1
						S21_G00_40_008 Dispositif de politique publique et conventionnel								1..1
						S21_G00_40_009 Numéro du contrat																1..1
						S21_G00_40_010 Date de fin prévisionnelle du contrat											0..1
						S21_G00_40_011 Unité de mesure de la quotité de travail											1..1
						S21_G00_40_012 Quotité de travail de référence de l'entreprise pour la catégorie de salarié		1..1
						S21_G00_40_013 Quotité de travail du contrat													1..1
						S21_G00_40_014 Modalité d'exercice du temps de travail											1..1
						S21_G00_40_016 Complément de base au régime obligatoire											1..1
						S21_G00_40_017 Code convention collective applicable											1..1
						S21_G00_40_018 Code régime de base risque maladie												1..1
						S21_G00_40_019 Identifiant du lieu de travail													0..1
						S21_G00_40_020 Code régime de base risque vieillesse											1..1
						S21_G00_40_021 Motif de recours																	0..1
						S21_G00_40_022 Code caisse professionnelle de congés payés										0..1
						S21_G00_40_023 Taux de déduction forfaitaire spécifique pour frais professionnels				0..1
						S21_G00_40_024 Travailleur à l'étranger au sens du code de la Sécurité Sociale					1..1
						S21_G00_40_025 Motif d'exclusion DSN															0..1
						S21_G00_40_026 Statut d'emploi du salarié														1..1
						S21_G00_40_035 Code délégataire du risque maladie												0..1
						S21_G00_40_036 Code emplois multiples															1..1
						S21_G00_40_037 Code employeurs multiples														1..1
						S21_G00_40_072 Statut BOETH																		0..1
							
						S21_G00_65 AUTRE SUSPENSION DE L'EXÉCUTION DU CONTRAT										0..*
							S21_G00_65_001 Motif de suspension 														1..1
							S21_G00_65_003 Date de fin de la suspension												0..1
						
					S21_G00_86 ANCIENNETE																			0..*
						S21_G00_86_001 Type  																		1..1
						S21_G00_86_002 Unité de mesure																1..1
						S21_G00_86_003 Valeur																		1..1
						S21_G00_86_005 Numéro du contrat															1..1
						
		S21_G00_85 LIEU DE TRAVAIL OU ÉTABLISSEMENT UTILISATEUR 													0..*
			S21_G00_85_001 Identifiant du lieu de travail 															1..1
			S21_G00_85_002 Code APET																				0..1
			S21_G00_85_003 Numéro, extension, nature, libellé de voie 												0..1
			S21_G00_85_004 Code postal																				0..1
			S21_G00_85_005 Localité																					0..1
			S21_G00_85_006 Code Pays																				0..1
			S21_G00_85_007 Code de distribution à l'étranger														0..1
			S21_G00_85_008 Complément de la localisation de la construction											0..1
			S21_G00_85_009 Service de distribution, complément de localisation de la voie							0..1
			S21_G00_85_010 Nature juridique																			1..1
			S21_G00_85_011 Code INSEE commune																		0..1

			
S90_G00_90	TOTAL DE L'ENVOI																						1..1
	S90_G00_90_001 Nombre total de rubriques 																		1..1
	S90_G00_90_002 Nombre de DSN 																					1..1
-->


 
<xs:schema 		xmlns:xs="http://www.w3.org/2001/XMLSchema"	xmlns:doc="http://www.cnav.fr/n4ds/documentation"	xmlns:n4ds="http://www.cnav.fr/n4ds"	xmlns:n4ds_dt="http://www.cnav.fr/n4ds/datatypes"	targetNamespace="http://www.cnav.fr/n4ds"	elementFormDefault="qualified"	attributeFormDefault="unqualified">
	<!-- Emplacement du fichier datatypes.xsd-->
	<xs:import namespace="http://www.cnav.fr/n4ds/datatypes" schemaLocation="datatypes.xsd" />
	<xs:element name="DSN">
		<xs:complexType>
			<xs:sequence>
				<!-- Cardinalité du bloc Entete -->
				<xs:element name="S10_G00_00" type="n4ds:DSN_S10_G00_00_Type" minOccurs="1" maxOccurs="1" />
				<!-- Cardinalité du bloc Suivi -->
				<xs:element name="S90_G00_90" type="n4ds:DSN_S90_G00_90_Type" minOccurs="1" maxOccurs="1" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!-- Description Flux SADV -->
	<xs:complexType name="bloc3_DSN_FT_SADV">
		<xs:complexContent>
			<xs:extension base="n4ds:DSN_Declaration">
				<xs:sequence>
					<!-- Cardinalité du bloc 07 -->
					<xs:element name="S20_G00_07" type="n4ds:bloc3_DSN_vers_PoleEmploi_S20_G00_07_Type" minOccurs="0" maxOccurs="unbounded" />
					<!-- Cardinalité du bloc 96 -->
					<xs:element name="S20_G00_96" type="n4ds:bloc3_DSN_vers_PoleEmploi_S20_G00_96_Type" minOccurs="1" maxOccurs="1" />
					<!-- Cardinalité du bloc 06 -->
					<xs:element name="S21_G00_06" type="n4ds:bloc3_DSN_vers_PoleEmploi_S21_G00_06_Type" minOccurs="1" maxOccurs="1" />
					<!-- Cardinalité du bloc 85 -->
					<xs:element name="S21_G00_85" type="n4ds:bloc3_DSN_vers_PoleEmploi_S21_G00_85_Type" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- Description Declaration S20.G00.05-->
	<xs:complexType name="DSN_Declaration" abstract="true">
		<xs:annotation>
			<xs:documentation xml:lang="fr">
				<doc:name>Définition du type Déclaration correspondant au sous-groupe S20.G00.05.	Ce type étant défini comme "abstrait", il est nécessaire d'avoir recours à l'attribut "xsi:type"	sur l'élément correspondant des instances XML conformes à ce schéma.</doc:name>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="S20_G00_05_001" type="n4ds_dt:DSN_Declaration_Nature" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Nature de la déclaration</doc:name>
						<doc:description/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S20_G00_05_002" type="n4ds_dt:DSN_Declaration_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Type de la déclaration</doc:name>
						<doc:description/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S20_G00_05_003" type="n4ds_dt:Declaration_Fraction" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Numéro de fraction de déclaration</doc:name>
						<doc:description>Le numéro de fraction de la déclaration est exprimé par 'nd' avec :	n = numéro de la fraction	d = nombre total de fractions	n doit être inférieur ou égal à d	Pour un même établissement le nombre d (nombre total de fractions) doit rester constant.	L'établissement s'engage à produire ou à faire produire l'ensemble des fractions annoncées.	Exemples:	12 : fraction 1/2 dirigeants,	22 : fraction 2/2 cadres et salariés.	Pour une entreprise non fractionnée mettre 11.</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S20_G00_05_004" type="n4ds_dt:Declaration_Ordre" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Numéro d'ordre de la déclaration</doc:name>
						<doc:description>Le numéro d'ordre de la déclaration (attribué par le déclarant) est une référence qui permet d'identifier le rang de constitution d'une déclaration au cours du mois courant.	Pour une Mensuelle, ce numéro est remis à zéro à chaque premier jour de mois civil. Pour un signalement, ce numéro ne doit pas être remis à zéro afin qu’il soit unique quel que soit le mois d’émission.</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S20_G00_05_006" type="n4ds_dt:Identifiant_33" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Identifiant de la déclaration annulée ou remplacée</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S20_G00_05_007" type="n4ds_dt:Date_JJMMAAAA_20" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Date de constitution du fichier</doc:name>
						<doc:description/>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S20_G00_05_009" type="n4ds_dt:Type_Alphanumeric_1-15" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Identifiant métier</doc:name>
						<doc:description>Cette rubrique vous permet de renseigner un identifiant métier de déclaration qui pourra être utilisé en cas de contact direct avec un OPS.</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S20_G00_05_011" type="n4ds_dt:Type_Alphanumeric_2-2" minOccurs="1" maxOccurs="1">        
				 <xs:annotation>
					 <xs:documentation xml:lang="fr">
						 <doc:name>Nature de l’événement déclencheur du signalement</doc:name>
						 <doc:description>
							 Cette rubrique permet d'identifier l'élément variant qui a déclenché l'émission de ce message.
			 Cette rubrique ne peut être renseignée que pour un signalement d'amorçage des données variables.
						 </doc:description>
					 </xs:documentation>
				 </xs:annotation>
			 </xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Description DSN_S10_G00_00 -->
	<xs:complexType name="DSN_S10_G00_00_Type">
		<xs:sequence>
			<xs:element name="S10_G00_00_001" type="n4ds_dt:Type_Alphanumeric_1-20" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Nom du logiciel utilisé</doc:name>
						<doc:description>Logiciel utilisé pour établir les déclarations.	L'alimentation systématique de cette rubrique est obligatoire pour faciliter le dialogue avec les éditeurs et les émetteurs en cas d'anomalie détectée par les récepteurs.	Mettre 'Logiciel maison' dans le cas où l'émetteur utilise un logiciel de constitution de la DSN non acheté mais développé en interne.</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_00_002" type="n4ds_dt:Type_Alphanumeric_1-20" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Nom de l'éditeur</doc:name>
						<doc:description>Nom de l'éditeur du logiciel de paie utilisé.	Mettre 'Logiciel maison' dans le cas où l'émetteur utilise un logiciel de constitution de la DSN non acheté mais développé en interne.</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_00_003" type="n4ds_dt:Type_Alphanumeric_1-10" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Numéro de version du logiciel utilisé</doc:name>
						<doc:description>
							Numéro de la version du logiciel de paie utilisé, s'il existe.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_00_004" type="n4ds_dt:Type_Alphanumeric_1-50" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code de conformité en pré-contrôle</doc:name>
						<doc:description>
							Sera précisé suite à finalisation de l’outil de validation de messages proposé aux éditeurs et déclarants.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_00_005" type="n4ds_dt:N4DS_Essai" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code envoi du fichier d'essai ou réel</doc:name>
						<doc:description>
							Les fichiers d'essai sont recommandés lors des premiers échanges avec un des services DSN proposés.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_00_006" type="n4ds_dt:DSN_Version" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Numéro de version de la norme utilisée</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_00_007" type="n4ds_dt:Point_Depot" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Point de dépôt</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_00_008" type="n4ds_dt:DSN_Envoi_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Type de l'envoi</doc:name>
						<doc:description>
							Cette rubrique permet de définir s'il s'agit d'un envoi normal, ou d'un envoi contenant uniquement des déclarations mensuelles "néant".
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Cardinalité du bloc 01 -->
			<xs:element name="S10_G00_01" type="n4ds:DSN_S10_G00_01_Type" minOccurs="1" maxOccurs="1" />
			<!-- Cardinalité du bloc 02 -->
			<xs:element name="S10_G00_02" type="n4ds:DSN_S10_G00_02_Type" minOccurs="1" maxOccurs="1" />
			<!-- Cardinalité du bloc 95 -->
			<xs:element name="S10_G00_95" type="n4ds:DSN_S10_G00_95_Type" minOccurs="1" maxOccurs="1" />		
			<!-- Cardinalité du bloc 05 -->
			<xs:element name="S20_G00_05" type="n4ds:DSN_Declaration" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<!-- Description DSN_S10_G00_01 -->
	<xs:complexType name="DSN_S10_G00_01_Type">
		<xs:sequence>
			<xs:element name="S10_G00_01_001" type="n4ds_dt:Identifiant_Siren_strict" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Siren de l'émetteur de l'envoi</doc:name>
						<doc:description>
							Identifiant de l'entreprise ayant élaboré le présent envoi.

							Dans le cas d'un tiers déclarant ou d'un concentrateur, c'est l'identifiant SIREN de ce tiers qui doit figurer ici.

							Attention : cette mention n'est pas exploitée vis-à-vis de l'autorisation de déposer une DSN ; pour ce dépôt il convient que l'acteur déposant la DSN sur le site de net entreprises (http://www.net-entreprises.fr/) ou de la MSA (http://www.msa.fr) soit inscrit comme administrateur sur le site et ait validé la charte

							Pour les réceptions de DSN en machine to machine une enveloppe gérant sera à associer au message et ne figure pas à ce stade dans le cahier technique.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_01_002" type="n4ds_dt:Identifiant_Nic_strict" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Nic de l'émetteur de l'envoi</doc:name>
						<doc:description>
							Identifiant établissement (Numéro Interne de Classement).
							Un identifiant à zéro n'est pas admis.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_01_003" type="n4ds_dt:Type_Alphanumeric_1-60" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Nom ou raison sociale de l'émetteur</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_01_004" type="n4ds_dt:N4DS_Adresse" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Numéro, extension, nature et libellé de la voie</doc:name>
						<doc:description>
							Numéro : Il précise l’adresse dans la voie. Sa valeur est différente de 0 et ne doit pas dépasser 4 chiffres. En cas de numéro multiple, seul le premier doit être indiqué (pour exemple indiquer 4 pour 4/14)
							Extension : Lettre accolée au numéro si celui-ci ne présente pas une précision suffisante (par exemple B pour BIS, T pour TER, etc…)
							Nature de la voie : information facultative décrivant la nature de la voie (rue, avenue, etc…)
							Libellé de la voie : Appellation officielle de la voie
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_01_005" type="n4ds_dt:La_Poste_Hexaposte" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code postal</doc:name>
						<doc:description>
							Donnée d'organisation de la distribution postale, à utiliser telle que définie dans le fichier Hexaposte
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_01_006" type="n4ds_dt:N4DS_Adresse_Localite" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Localité</doc:name>
						<doc:description>
							La localité est un élément géographique et administratif. C’est le premier élément d’identification associé au code postal. Le libellé est la plupart du temps le nom officiel de la localité enregistrée à l’INSEE et au Journal Officiel.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_01_007" type="n4ds_dt:ISO_3166-1-A2_Pays" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code pays</doc:name>
						<doc:description>
							Nom du pays (territoire d’un état) exprimé sous la forme d’un code.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_01_008" type="n4ds_dt:N4DS_Adresse" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code de distribution à l'étranger</doc:name>
						<doc:description>
							Mention complémentaire pour les adresses ne relevant du système postal français
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_01_009" type="n4ds_dt:N4DS_Adresse" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Complément de la localisation de la construction</doc:name>
						<doc:description>
							Les compléments d’adresse permettent d’indiquer le point de remise exact du courrier. Ils donnent des informations précises et déterminantes dans la phase finale de distribution du courrier, tel que le bâtiment, la boîte aux lettres, le numéro d’appartement.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_01_010" type="n4ds_dt:N4DS_Adresse" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Service de distribution, complément de localisation de la voie</doc:name>
						<doc:description>
							Il s’agit de services de distribution du courrier spécifiques proposés ou mis en place par La Poste
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Description DSN_S10_G00_02 -->
	<xs:complexType name="DSN_S10_G00_02_Type">
		<xs:sequence>
			<xs:element name="S10_G00_02_001" type="n4ds_dt:Civilite" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code civilité</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_02_002" type="n4ds_dt:Identite_Base_1-80_regex" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Nom et prénom de la personne à contacter</doc:name>
						<doc:description>
							Nom, prénom de l'agent de l'émetteur pouvant donner des précisions sur cet envoi.

						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_02_004" type="n4ds_dt:N4DS_Email_6-100" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Adresse mél du contact émetteur</doc:name>
						<doc:description>
							Cette adresse sera utilisée dans le cadre des contacts en lien avec vos déclarations actuelles et à venir.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_02_005" type="n4ds_dt:Telephone" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Adresse téléphonique</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_02_006" type="n4ds_dt:Telephone" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Adresse fax</doc:name>
						<doc:description>Si souhaité par le contact.</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Description DSN_S10_G00_95 -->
	<xs:complexType name="DSN_S10_G00_95_Type">
		<xs:sequence>
			<xs:element name="S10_G00_95_001" type="n4ds_dt:Type_Alphanumeric_1-100" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Nom du déclarant</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_95_002" type="n4ds_dt:Type_Alphanumeric_1-100" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Prénom du déclarant</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_95_003" type="n4ds_dt:Identifiant_Siret" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Siret du déclarant</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_95_006" type="n4ds_dt:Type_Alphanumeric_1_6" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Mode de dépôt</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_95_007" type="n4ds_dt:Type_Alphanumeric_1_14" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Site déposant</doc:name>
						<doc:description>
							Siret du concentrateur tel que contenu dans le jeton du portail pour le mode MtoM (source : DSF_DSN_BLOC1_P3 V1.0)
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_95_008" type="n4ds_dt:Date_Alpha_14" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Horodatage</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:element name="S10_G00_95_009" type="n4ds_dt:Type_Alphanumeric_1-80" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Raison sociale du déclarant</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S10_G00_95_900" type="n4ds_dt:Type_Alphanumeric_1-50" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Identifiant du flux</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>		
			<xs:element name="S10_G00_95_901" type="n4ds_dt:Type_Alphanumeric_1-100" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Adresse mél du déclarant</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--Description bloc3_DSN_vers_PoleEmploi_S20_G00_07_Type -->
	<xs:complexType name="bloc3_DSN_vers_PoleEmploi_S20_G00_07_Type">
		<xs:sequence>
			<xs:element name="S20_G00_07_001" type="n4ds_dt:Identite_Base_1-80" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Nom et prénom du contact</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S20_G00_07_002" type="n4ds_dt:Telephone" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Adresse téléphonique</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S20_G00_07_003" type="n4ds_dt:N4DS_Email_6-100" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Adresse mél du contact</doc:name>
						<doc:description>
							Cette adresse mél est utilisée pour adresser le compte-rendu métier DSIJ.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S20_G00_07_004" type="n4ds_dt:DSN_ContactDeclare_type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Type</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Description bloc3_DSN_vers_PoleEmploi_S20_G00_96_Type -->
	<xs:complexType name="bloc3_DSN_vers_PoleEmploi_S20_G00_96_Type">
		<xs:sequence>
			<xs:element name="S20_G00_96_010" type="n4ds_dt:Nombre_1_6_Suivi" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Identifiant DSN de la déclaration annulée et remplacée</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- obligatoire pour les traitements -->
			<xs:element name="S20_G00_96_902" type="n4ds_dt:Nombre_1_6_Suivi" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Identifiant de la DSN dans le flux</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Description bloc3_DSN_vers_PoleEmploi_S21_G00_06_Type -->
	<xs:complexType name="bloc3_DSN_vers_PoleEmploi_S21_G00_06_Type">
		<xs:sequence>
			<xs:element name="S21_G00_06_001" type="n4ds_dt:Identifiant_Siren_strict" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>SIREN</doc:name>
						<doc:description>
							Le numéro SIREN est un identifiant de neuf chiffres attribué à chaque unité légale. Les huit premiers chiffres n'ont aucune signification, excepté pour les organismes publics dont le numéro SIREN commence obligatoirement par 1 ou 2. Le neuvième chiffre est un chiffre de contrôle de validité du numéro.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_06_002" type="n4ds_dt:Identifiant_Nic_strict" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>NIC du siège</doc:name>
						<doc:description>
							Il s'agit du NIC de l'établissement siège de l'entreprise, ou, pour les entreprises étrangères, du NIC du premier établissement implanté en France.
							Si le siège est SIRETisé, l’entreprise dispose donc d’un NIC, et alors le NIC doit être renseigné.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_06_903" type="n4ds_dt:Type_Alphanumeric_1-80" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Raison sociale de l’entreprise</doc:name>
						<doc:description>
							Rubrique de suivi de la raison sociale de l'entreprise
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Cardinalité du bloc 11 -->
			<xs:element name="S21_G00_11" type="n4ds:bloc3_DSN_vers_PoleEmploi_S21_G00_11_Type" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	
	<!--Description bloc3_DSN_vers_PoleEmploi_S21_G00_11_Type -->
	<xs:complexType name="bloc3_DSN_vers_PoleEmploi_S21_G00_11_Type">
		<xs:sequence>
			<xs:element name="S21_G00_11_001" type="n4ds_dt:Identifiant_Nic_strict" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>NIC</doc:name>
						<doc:description>
							L'établissement est une unité de production localisée géographiquement, individualisée mais dépendant juridiquement d'une entreprise. 
							Dans le cadre d'un contrat de travail, il s'agit de l'établissement de rattachement administratif du salarié.
							Le Numéro interne de classement (NIC) est composé de 5 chiffres ajoutés au SIREN de l'entreprise pour identifier un établissement.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_11_002" type="n4ds_dt:Insee_Naf_2008_4" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code APET</doc:name>
						<doc:description>
							Le code APE est attribué par l’INSEE à toute entreprise et chacun de ses établissements lors de son inscription au répertoire SIRENE. Ce code caractérise son activité principale par référence à la nomenclature d'activités française (NAF rév. 2).
							Il est nommé APEN dans le cas d'une entreprise, et APET pour un établissement.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_11_003" type="n4ds_dt:N4DS_Adresse" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Numéro, extension, nature et libellé de la voie</doc:name>
						<doc:description>
							Numéro : Il précise l’adresse dans la voie. Sa valeur est différente de 0 et ne doit pas dépasser 4 chiffres. En cas de numéro multiple, seul le premier doit être indiqué (pour exemple indiquer 4 pour 4/14)
							Extension : Lettre accolée au numéro si celui-ci ne présente pas une précision suffisante (par exemple B pour BIS, T pour TER, etc…)
							Nature de la voie : information facultative décrivant la nature de la voie (rue, avenue, etc…)
							Libellé de la voie : Appellation officielle de la voie
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_11_004" type="n4ds_dt:La_Poste_Hexaposte" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code postal</doc:name>
						<doc:description>
							Il s’agit de données d’organisation postale qui doivent être utilisées en l’état. Le code postal est composé de 5 chiffres. Les codes CEDEX ne sont pas admis.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_11_005" type="n4ds_dt:N4DS_Adresse_Localite" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Localité</doc:name>
						<doc:description>
							La localité est un élément géographique et administratif. C’est le premier élément d’identification associé au code postal. Le libellé est la plupart du temps le nom officiel de la localité enregistrée à l’INSEE et au Journal Officiel.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_11_006" type="n4ds_dt:N4DS_Adresse" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Complément de la localisation de la construction</doc:name>
						<doc:description>
							Les compléments d’adresse permettent d’indiquer le point de remise exact du courrier. Ils donnent des informations précises et déterminantes dans la phase finale de distribution du courrier, tel que le bâtiment, la boîte aux lettres, le numéro d’appartement.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_11_007" type="n4ds_dt:N4DS_Adresse" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Service de distribution, complément de localisation de la voie</doc:name>
						<doc:description>
							Il s’agit de services de distribution du courrier spécifiques proposés ou mis en place par La Poste
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_11_904" type="n4ds_dt:Type_Alphanumeric_1-80" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Enseigne de l’établissement</doc:name>
						<doc:description>
							Rubrique de suivi de l’enseigne de l’établissement 
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Cardinalité du bloc 30 -->
			<xs:element name="S21_G00_30" type="n4ds:bloc3_DSN_vers_PoleEmploi_S21_G00_30_Type" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<!--Description bloc3_DSN_vers_PoleEmploi_S21_G00_30_Type -->
	<xs:complexType name="bloc3_DSN_vers_PoleEmploi_S21_G00_30_Type">
		<xs:sequence>
			<xs:element name="S21_G00_30_001" type="n4ds_dt:Identifiant_Nir_13" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Numéro d'inscription au répertoire</doc:name>
						<doc:description>
							Le numéro d'inscription au répertoire (NIR) est l'identifiant unique et invariable des individus inscrits au répertoire national d'identification des personnes physiques (RNIPP). Ce numéro correspond au numéro de sécurité sociale.
							Ce numéro est composé de 13 chiffres et d'une clé de 2 chiffres. La clé n'est pas à déclarer dans cette rubrique.
							Le Nir doit avoir la forme SAAMMDDCCCNNN avec :
							S = sexe de la personne physique doit être égal à 1 ou 2
							AA = année de naissance de la personne physique doit être comprise entre 00 et 99
							MM = mois de naissance de la personne physique doit être compris entre 01 et 12 ou entre 30 et 42 ou entre 50 et 99 ou égal à 20
							DD = département de naissance de la personne physique doit être compris entre 01 et 99 ou être égal à 2A ou 2B
							CCC = commune de naissance de la personne physique doit être comprise entre 001 et 999
							NNN = numéro d'inscription la personne physique au registre d'état civil doit être compris entre 001 et 999

							ATTENTION : Un NIR ne peut être présent qu'une seule fois dans la déclaration, il doit être unique pour permettre la traçabilité et l'identification de l'individu.

							Si l'immatriculation est provisoire, ne pas utiliser les numéros provisoires reconnaissables par leur premier caractère égal à 7 ou 8, mais utiliser le NIA qui a été notifié.
							En l'absence de NIR ou de NIA, il est obligatoire de remplir la rubrique Numéro technique temporaire (S21.G00.30.020).
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_002" type="n4ds_dt:Identite_Base_1-80_regex" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Nom de famille</doc:name>
						<doc:description>
							Le nom de famille est le nom défini pour chaque individu dans les jours qui suivent sa naissance. Il est usuellement défini sur la base de la filiation avec l’un ou l’autre parent, voire les deux. Il peut être défini par disposition administrative ou judiciaire.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_003" type="n4ds_dt:Identite_Base_1-80_regex" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Nom d'usage</doc:name>
						<doc:description>
							Il s’agit de la possibilité pour une personne de porter un nom qu’elle n’a pas acquis selon les règles d’acquisition du nom de famille.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_004" type="n4ds_dt:Identite_Base_1-80_regex" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Prénoms</doc:name>
						<doc:description>
							Elément d'identification joint au nom de famille qui permet de distinguer les personnes d'une même famille.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_005" type="n4ds_dt:DSN_Sexe" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Sexe</doc:name>
						<doc:description>
							Le sexe décrit la qualité d'homme ou la qualité de femme.
							Il est à renseigner si différent du sexe porté par le NIR ou si le NIR est absent en cas d'identification par un NTT
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_006" type="n4ds_dt:N4DS_DDN" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Date de naissance</doc:name>
						<doc:description>
							Instant où une personne naît, tel qu'enregistré à l'état civil.
							Renseigner la date de naissance du salarié sous la forme JJMMAAAA. 
							- L'année de naissance est obligatoire :
							- Jour de naissance inconnu : 99MMAAAA,
							- Mois de naissance Inconnu : JJ99AAAA,
							- Si jour et mois inconnus : 9999AAAA.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_007" type="n4ds_dt:Commune" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Lieu de naissance</doc:name>
						<doc:description>
							Il s’agit du nom de la localité de naissance, tel qu’enregistré à l’état civil.
							Libellé en toutes lettres. Obligatoire pour les salariés nés en France métropolitaine, dans les DOM et dans les TOM. Il peut éventuellement s'agir d'un pays.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_008" type="n4ds_dt:N4DS_Adresse" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Numéro, extension, nature et libellé de la voie</doc:name>
						<doc:description>
							Numéro : Il précise l’adresse dans la voie. Sa valeur est différente de 0 et ne doit pas dépasser 4 chiffres. En cas de numéro multiple, seul le premier doit être indiqué (pour exemple indiquer 4 pour 4/14)
							Extension : Lettre accolée au numéro si celui-ci ne présente pas une précision suffisante (par exemple B pour BIS, T pour TER, etc…)
							Nature de la voie : information facultative décrivant la nature de la voie (rue, avenue, etc…)
							Libellé de la voie : Appellation officielle de la voie
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_009" type="n4ds_dt:La_Poste_Hexaposte" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code postal</doc:name>
						<doc:description>
							Il s’agit de données d’organisation postale qui doivent être utilisées en l’état. Le code postal est composé de 5 chiffres. Les codes CEDEX ne sont pas admis.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_010" type="n4ds_dt:N4DS_Adresse_Localite" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Localité</doc:name>
						<doc:description>
							La localité est un élément géographique et administratif. C’est le premier élément d’identification associé au code postal. Le libellé est la plupart du temps le nom officiel de la localité enregistrée à l’INSEE et au Journal Officiel.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_011" type="n4ds_dt:ISO_3166-1-A2_Pays" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code pays</doc:name>
						<doc:description>
							Nom du pays (territoire d’un état) de résidence du salarié exprimé sous la forme d’un code.
							Le code pays ne doit pas être renseigné pour les adresses relevant du système postal français.
							Le domaine d'application du système postal français est constitué des territoires suivants :
							FR : France métropolitaine
							GP : Guadeloupe
							BL : Saint Barthélémy
							MF : Saint Martin
							MQ : Martinique
							GF : Guyane Française
							RE : Ile de la Réunion
							PM : Saint Pierre et Miquelon
							YT : Mayotte
							WF : Wallis et Futuna
							PF : Polynésie Française
							NC : Nouvelle Calédonie
							MC : Monaco
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_012" type="n4ds_dt:N4DS_Adresse" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code de distribution à l'étranger</doc:name>
						<doc:description>

						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_013" type="n4ds_dt:DSN_Codification_UE" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Codification UE</doc:name>
						<doc:description>
							Classification de l’origine du salarié au vu des frontières françaises et des limites de l’Union Européenne.
							Il faut renseigner dans cette rubrique le code le plus précis applicable à l'individu.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_014" type="n4ds_dt:Departement" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code département de naissance</doc:name>
						<doc:description>
							Pour les salariés nés en France : code 01 à 97 ou 2A ou 2B
							Pour les salariés nés dans les TOM : code 98
							Pour les personnes nées à l'étranger, renseigner 99
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_015" type="n4ds_dt:ISO_3166-1-A2_Pays" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code pays de naissance</doc:name>
						<doc:description>
							Le Code pays de naissance est à déterminer dans la table "Codes Pays" ISO 3166-1-A2.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_016" type="n4ds_dt:N4DS_Adresse" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Complément de la localisation de la construction</doc:name>
						<doc:description>
							Les compléments d’adresse permettent d’indiquer le point de remise exact du courrier. Ils donnent des informations précises et déterminantes dans la phase finale de distribution du courrier, tel que le bâtiment, la boîte aux lettres, le numéro d’appartement.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_017" type="n4ds_dt:N4DS_Adresse" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Service de distribution, complément de localisation de la voie</doc:name>
						<doc:description>
							Il s’agit de services de distribution du courrier spécifiques proposés ou mis en place par La Poste.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_018" type="n4ds_dt:N4DS_Email_6-100" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Adresse mél</doc:name>
						<doc:description>
							Adresse mél personnelle ou professionnelle de l'individu. Le renseignement de cette rubrique est conditionné à l'accord explicite de ce dernier.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_019" type="n4ds_dt:Type_Alphanumeric_1-30" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Matricule de l'individu dans l'entreprise</doc:name>
						<doc:description>
							Le choix de la valeur que prend le matricule revient à l’employeur.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_020" type="n4ds_dt:Type_Alphanumeric_11_40" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Numéro technique temporaire</doc:name>
						<doc:description>
							Le NTT est un identifiant technique unique et invariant permettant à l'employeur de déclarer, dans un temps limité, un individu pour lequel il n'aurait pas connaissance du Numéro d'Inscription au Répertoire ou du Numéro d'Identification d'Attente au moment de l'émission d'une DSN.
							Il est composé du code sexe de la personne physique qui doit être égal à 1 ou 2, suivi du SIREN de l'entreprise et d'un identifiant unique et pérenne de l'individu dans l'entreprise, comme le Matricule du salarié dans l'entreprise par exemple.
							Il s'agit d'une donnée technique destinée au système d'information DSN uniquement. Le NTT n'est pas une donnée de gestion et ne permet pas l'ouverture des droits de l'individu auprès des organismes de protection sociale.

							Le NTT doit désigner un individu et un seul pour l'ensemble de ses contrats dans l'entreprise. En cas d'obtention de plusieurs NTT, l'employeur doit utiliser pour ses déclarations le NTT le plus ancien en cours de validité.

							En l'absence de NIR ou de NIA, il est obligatoire de remplir la rubrique  Numéro technique temporaire (S21.G00.30.020).
							Le NTT doit être renseigné sur la première DSN où le NIR est attribué. Ceci permettra de faire le lien entre les deux identités déclarées par l'employeur.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_022" type="n4ds_dt:Type_Alphanumeric_2-2" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Statut à l'étranger au sens fiscal</doc:name>
						<doc:description>
							Le travailleur frontalier est une personne qui exerce une activité dans une zone frontalière au sens des conventions fiscales.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_023" type="n4ds_dt:DSN_Nouvelle_Embauche" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Embauche</doc:name>
						<doc:description>
							Rubrique à renseigner en cas de nouvelle embauche d'un salarié dans l'établissement ou de salarié en situation de cumul emploi retraite.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_029" type="n4ds_dt:Type_Alphanumeric_1-30" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Libellé du pays de naissance</doc:name>
						<doc:description>
							Cette rubrique est à renseigner avec le libellé du pays de naissance pour un individu né à l’étranger
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_300" type="n4ds_dt:Identifiant_Nir_13" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Numéro d'inscription au répertoire SNGI</doc:name>
						<doc:description>
							Rubrique de suivi pour le numéro d'inscription au répertoire SNGI
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_301" type="n4ds_dt:Date_alpha_suivi" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Date de naissance certifiée SNGI</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_302" type="n4ds_dt:Identite_Base_1-80" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Nom de famille certifié SNGI</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_303" type="n4ds_dt:Identite_Base_1-80" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Prénoms certifiés SNGI</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_305" type="n4ds_dt:Nombre_2_2" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code résultat certifié SNGI</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_306" type="n4ds_dt:Nombre_1_1" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Indice de certification SNGI</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_307" type="n4ds_dt:Type_Alphanumeric_1-40" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Commune de naissance certifiée SNGI</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_308" type="n4ds_dt:Type_Alphanumeric_2-3" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code département de naissance certifié SNGI</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_309" type="n4ds_dt:ISO_3166-1-A2_Pays" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Pays de naissance certifié SNGI</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_310" type="n4ds_dt:Date_alpha_suivi" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Date du NIR certifiée SNGI</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_311" type="n4ds_dt:Identifiant_Nir_21_420" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>NIR Daté</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_312" type="n4ds_dt:Date_alpha_suivi" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Date de décès SNGI</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_30_313" type="n4ds_dt:Type_Alphanumeric_2-2" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code confusion identité</doc:name>
					</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<!-- Cardinalité du bloc 40 -->
			<xs:element name="S21_G00_40" type="n4ds:bloc3_DSN_vers_PoleEmploi_S21_G00_40_Type" minOccurs="0" maxOccurs="unbounded" />
			<!-- Cardinalité du bloc 86 -->
			<xs:element name="S21_G00_86" type="n4ds:bloc3_DSN_vers_PoleEmploi_S21_G00_86_Type" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<!--Description bloc3_DSN_vers_PoleEmploi_S21_G00_40_Type -->
	<xs:complexType name="bloc3_DSN_vers_PoleEmploi_S21_G00_40_Type">
		<xs:sequence>
			<xs:element name="S21_G00_40_001" type="n4ds_dt:Date_JJMMAAAA" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Date de début du contrat</doc:name>
						<doc:description>
							Représente la date du premier jour d’applicabilité du contrat.
							Il s'agit d'une donnée identifiante du contrat de travail.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_002" type="n4ds_dt:CCN_Categorie" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Statut du salarié (conventionnel)</doc:name>
						<doc:description>
							Le statut détermine les conditions d’emploi et de travail d’un ou plusieurs salariés d’une entreprise. Le classement s’entend au sens de la convention collective applicable dans l’entreprise. Il correspond aux grandes catégories socio-professionnelles auxquelles chaque salarié appartient.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_003" type="n4ds_dt:AA_Categorie" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code statut catégoriel Retraite Complémentaire obligatoire</doc:name>
						<doc:description>
							Le statut catégoriel Retraite complémentaire définit le positionnement du salarié au vu des réglementations des régimes de retraite complémentaires des salariés et des ingénieurs et cadres.
							La rubrique doit être valorisée à "01 - cadre (article 4 et 4bis)" dès lors que le VRP multicartes a un niveau de rémunération brute déplafonnée supérieur à un plafond mensuel de sécurité sociale.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_004" type="n4ds_dt:Insee_PCS-ESE" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code profession et catégorie socioprofessionnelle (PCS-ESE)</doc:name>
						<doc:description>
							La PCS-ESE définit la liste des postes (intitulés et professions concernées). 
							Le code est composé de 3 chiffres :
							- les groupes socioprofessionnels 
							- les catégories socioprofessionnelles 
							- les professions 

							Attention : pour certaines catégories professionnelles (aéronautique civile, journalistes et autres), il est nécessaire d'apporter une précision sur la profession du salarié en utilisant les codes complémentaires indiqués dans la rubrique complément PCS-ESE ci-après.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_005" type="n4ds_dt:PCS-ESE_Complement_DSN_phase_3" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code complément PCS-ESE</doc:name>
						<doc:description>
							Ce code permet d'apporter une précision nécessaire sur la profession de salariés de certaines catégories professionnelles (aéronautique civile, journalistes...). 

							Attributs métier complémentaires non détaillés dans la PCS-ESE.

							Pour le salarié relevant de la Caisse de Retraite du Personnel Navigant Professionnel de l'Aéronautique Civile il est nécessaire de préciser pour la catégorie des officiers, navigants techniques et cadres navigants commerciaux de l'aéronautique civile (Code PCS-ESE = 389b), les codes compléments PCS-ESE suivants :
							- C389M pour les cadres navigants commerciaux cotisant à un taux majoré
							- C389N pour les cadres navigants commerciaux cotisant à un taux normal
							- T389M pour les navigants techniques cotisant à un taux majoré
							- T389N pour les navigants techniques cotisant à un taux normal
							Pour les hôtesses et stewards, (Code PCS-ESE = 546d) alors il convient de renseigner les valeurs suivantes en code complément PCS-ESE :
							- 546dM pour les hôtesses ou stewards cotisant à un taux majoré
							- 546dN pour les hôtesses ou stewards cotisant à un taux normal

							Pour les journalistes (Code PCS-ESE = 352a) il est nécessaire de distinguer avec un code complément PCS-ESE les journalistes professionnels (avec carte de presse) code complément PCS-ESE = P352, des journalistes non professionnels (sans carte de presse) avec un code complément  PCS-ESE= NP352.

							Les représentants exclusifs ou multicartes, cadets de golf doivent être signalés dans cette rubrique.

							Pour les chauffeurs livreurs, coursiers il est nécessaire de préciser le code PCS-ESE par C643 pour les coursiers ou L643 pour les chauffeurs livreurs.

							La table NEH détermine la structure hiérarchique des emplois relevant de la fonction publique hospitalière. Les établissements sanitaires, sociaux et médico-sociaux publics relevant de l'IRCANTEC doivent utiliser les codes de la table NEH pour définir le statut d'emploi de leur personnel médical hospitalier. Cette table est disponible sur le site http://www.net-entreprises.fr.

							Pour les professions du spectacle, il est nécessaire de compléter le code complément PCS-ESE par le code détaillé des professions du spectacle. La table de nomenclature des emplois du spectacle est disponible sur le site http://www.net-entreprises.fr.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_006" type="n4ds_dt:Emploi_Nature" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Libellé de l'emploi</doc:name>
						<doc:description>
							Termes précisant la fonction du salarié au sein de l’entreprise.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_007" type="n4ds_dt:DSN_NatureContrat" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Nature du contrat</doc:name>
						<doc:description>
							Nature du lien entre l’employeur et l’individu.
							Le terme « contrat » est à comprendre de manière large car il recouvre des concepts plus étendus que le seul contrat de travail (conventions, mandat…).
							Pour les intérimaires en contrat d’apprentissage, la nature de contrat (S21.G00.40.007) doit être déclarée à "02 - Contrat de travail à durée déterminée de droit privé", le code APET (S21.G00.11.002) correspondant à une entreprise de travail temporaire (78.10Z ou 78.20Z) et la partie SIREN de l’identifiant du lieu de travail (S21.G00.40.019) différent du SIREN de l’employeur (S21.G00.06.001) ».
							Pour les intérimaires en contrat de professionnalisation, la nature de contrat (S21.G00.40.007) doit être déclarée à "02 - Contrat de travail à durée déterminée de droit privé", le code APET (S21.G00.11.002) correspondant à une entreprise de travail temporaire (78.10Z ou 78.20Z) et la partie SIREN de l’identifiant du lieu de travail (S21.G00.40.019) différent du SIREN de l’employeur (S21.G00.06.001) ».
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_008" type="n4ds_dt:DSN_Dispos_PubEmpFormPro_2" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Dispositif de politique publique et conventionnel</doc:name>
						<doc:description>
							Dispositif d’aide, d’incitation ou de politique publique d’emploi ou de formation professionnelle ou de tout autre dispositif conventionnel visant à instaurer des formes particulières de contrat. Ces dispositifs se rapportent obligatoirement à une nature de contrat.

							NB : pour les contrats « Emploi d’avenir secteur non marchand » et « Emploi d’avenir secteur marchand »,  les valeurs « CUI-CAE » ou « CUI-CIE » ne sont pas appropriées. Même si les contrats « Emploi d’avenir » sont conclus dans le cadre d’un CUI-CIE ou d’un CUI-CAE, c’est bien la valeur « Emploi d’avenir » qui doit être renseignée.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_009" type="n4ds_dt:Type_Alphanumeric_5-20" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Numéro du contrat</doc:name>
						<doc:description>
							Le numéro de contrat est un des identifiants du contrat.
							Le numéro d'un contrat de mission doit rester le même que celui déclaré via les DMM/RMM.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_010" type="n4ds_dt:Date_JJMMAAAA_20" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Date de fin prévisionnelle du contrat</doc:name>
						<doc:description>
							Dernier jour d'applicabilité prévisionnelle de fin du contrat (généralement indiquée sur le contrat). Cette rubrique doit être renseignée de la date réelle de fin de contrat dans toute DSN mensuelle postérieure à la date de fin de contrat (S21.G00.62.001).
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_011" type="n4ds_dt:DSN_TypeUniteMesure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Unité de mesure de la quotité de travail</doc:name>
						<doc:description>
							Unité d'expression du volume de l'activité ou de l'inactivité dans le contrat.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_012" type="n4ds_dt:Quantite_ZNS_4_7_2_Z" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Quotité de travail de référence de l'entreprise pour la catégorie de salarié</doc:name>
						<doc:description>
							Valeur exprimant la durée de travail applicable pour la catégorie de salariés dans l’entreprise. Cette valeur doit être définie selon les règles applicables à la catégorie de salarié.
							Pour les salariés en contrat de mission, il convient de renseigner la valeur déclarée dans la rubrique "Quotité de travail du contrat" (S21.G00.40.013).
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_013" type="n4ds_dt:Quantite_ZNS_4_7_2_Z" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Quotité de travail du contrat</doc:name>
						<doc:description>
							Valeur exprimant la durée contractuelle de travail applicable au salarié.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_014" type="n4ds_dt:Travail_Modalite" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Modalité d'exercice du temps de travail</doc:name>
						<doc:description>
							Valeur exprimant le fait que le salarié travaille à temps plein ou partiel.
							ATTENTION : Sauf rares exceptions, comme les contrats de nature (S21.G00.40.007) "03 - Contrat de mission (contrat de travail temporaire)" ou relatifs aux personnels médicaux hospitaliers par exemple, pour un même employeur et un même salarié ne peuvent être transmis plusieurs contrats dont les périodes d'applicabilité se chevauchent et dont la modalité d'exercice du temps de travail d'au moins un de ces contrats est '10 - temps plein'.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_016" type="n4ds_dt:ROB_Extension" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Complément de base au régime obligatoire</doc:name>
						<doc:description>
							Extension au régime de base, assuré par un régime obligatoire de Sécurité sociale (régime local alsace moselle / complémentaire Camieg).
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_017" type="n4ds_dt:CCN" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code convention collective applicable</doc:name>
						<doc:description>
							Convention conclue entre un employeur ou un groupement d'employeurs et un ou plusieurs syndicats représentatifs de salariés en vue de déterminer les conditions de travail et de rémunération qui s'imposeront aux employeurs adhérant au groupement, envers le personnel.
							Toutes les entreprises sont désormais tenues d'utiliser ce nouvel Identifiant Des Conventions Collectives (IDCC) pour tous les types de DSN admis.
							Ce code, géré par le Ministère chargé du travail, peut être obtenu sur le site http://www.net-entreprises.fr. Si un salarié n'est couvert par aucune convention ou statut, il convient de l'indiquer par le code 9999 'sans convention collective'.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_018" type="n4ds_dt:CodeRegime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code régime de base risque maladie</doc:name>
						<doc:description>
							Identifiant du régime de base d'assurance maladie auquel est affilié le salarié.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_019" type="n4ds_dt:DSN_Identifiant_Lieu_Travail" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Identifiant du lieu de travail</doc:name>
						<doc:description>
							Code renseignant le lieu de travail effectif de l'individu.
							Renseigné par SIRET si le lieu de travail est un établissement immatriculé par un SIRET ou renseigné par une codification libre si le lieu de travail n'est pas un établissement SIRETisé.
							Cet identifiant (SIRET ou codification libre) doit être reporté dans la rubrique "Identifiant du lieu de travail - S21.G00.85.001".
							Pour la Caisse de congés spectacle, cette rubrique est à renseigner d'un Pseudo-SIRET.
							Cette rubrique ne doit pas être renseignée pour les VRP MULTICARTES.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_020" type="n4ds_dt:DSN_Code_Regime_Base_risque_vieillesse" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code régime de base risque vieillesse</doc:name>
						<doc:description>
							Identifiant du régime de base d'assurance vieillesse auquel est affilié le salarié
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_021" type="n4ds_dt:DSN_Motifs_Recours" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Motif de recours</doc:name>
						<doc:description>
							Motif pour lequel a été conclu le Contrat à durée déterminée ou Contrat de mission.
							Comme stipulé par l’article L1221-2 du Code du travail, « le contrat de travail à durée indéterminée est la forme normale et générale de la relation de travail ». Dès lors, le recours au CDD ou au Contrat de mission est encadré par une liste de cas limitativement énumérés définis à l'article L1242-2, L. 1242-3 (pour les CDD) et à l'article L1251-6, L. 1251-7 (pour les Contrats de mission) du Code du travail.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_022" type="n4ds_dt:DSN_Code_Caisse_Professionnel" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code caisse professionnelle de congés payés</doc:name>
						<doc:description>
							Numéro de la caisse de congés payés dans le cas où les indemnités ne sont pas versées par l'employeur.
							Indiquer "97" dans le cas de la Caisse de congés spectacles.
							Indiquer "98" dans le cas d'une caisse de congés payés du transport.
							Pour les entreprises adhérentes à une caisse CIBTP, indiquer l'un des codes caisses CIBTP sur deux caractères présents dans la liste des valeurs autorisées disponibles sur le site http://www.net-entreprises.fr suivi du numéro d'adhérent attribué par la caisse.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_023" type="n4ds_dt:Taux_ZNS_4_6_2" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Taux de déduction forfaitaire spécifique pour frais professionnels</doc:name>
						<doc:description>
							Abattement pour frais professionnels appliqué à la part de rémunération afférente à l’activité ouvrant droit à la déduction.
							Le Code Général des Impôts (CGI) (article 5 de l'annexe IV) détermine une liste de professions pouvant profiter du régime de l'abattement sur le salaire brut.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_024" type="n4ds_dt:DSN_Travailleur_Etranger" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Travailleur à l'étranger au sens du code de la Sécurité Sociale</doc:name>
						<doc:description>
							Identifiant des salariés détachés, expatriés et frontaliers.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_025" type="n4ds_dt:DSN_Motif_Exclusion" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Motif d'exclusion DSN</doc:name>
						<doc:description>
							Cette rubrique vise à identifier les salariés susceptibles de faire l’objet de particularités de protection sociale par conséquence de leurs conditions d’emploi (statut, activité, métier exercé, modalité d’exercice de certains métiers). Cette identification est opérée au niveau du contrat car les éventuelles spécificités de protection sociale sont appréciées au titre des caractéristiques du contrat.
							Les salariés concernés doivent être portés en DSN et si l’URSSAF recouvre des cotisations relatives à ces salariés ou si ceux-ci sont couverts par au moins un contrat de prévoyance identifié dans le bloc Adhésion Prévoyance, alors les éléments de rémunération et de cotisation doivent être portés en DSN et pris en compte dans les agrégats de cotisation déclarés aux URSSAF. Il ne sera en effet pas possible de déclarer des agrégats de cotisation URSSAF via DSN pour certains salariés d’une part et via DUCS pour les autres salariés d’un même établissement.
							Pour les salariés concernés, les formalités qui leurs sont spécifiques doivent persister en parallèle de la DSN.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_026" type="n4ds_dt:DSN_Statut_Emplois" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Statut d'emploi du salarié</doc:name>
						<doc:description>

						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_035" type="n4ds_dt:DSN_Code_Delegataire_Risque_Maladie" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code délégataire du risque maladie</doc:name>
						<doc:description>
							Délégation de gestion du risque maladie donnée à la Caisse Nationale d'Assurance Maladie des Travailleurs Salariés par les organismes cités.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:element name="S21_G00_40_036" type="n4ds_dt:DSN_Code_Emplois_Multiples" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code emplois multiples</doc:name>
						<doc:description>
							Cette rubrique précise si le salarié a plusieurs emplois chez un même employeur au cours d'une même période de paie.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_037" type="n4ds_dt:DSN_Code_Employeur_Multiples" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code employeurs multiples</doc:name>
						<doc:description>
							Cette rubrique précise si le salarié a plusieurs employeurs au cours de la même période de paie.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_40_072" type="n4ds_dt:Type_Alphanumeric_2-2" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Statut BOETH</doc:name>
						<doc:description>
							Cette rubrique est à renseigner pour un individu bénéficiaire de l’obligation d’emploi des travailleurs handicapés (BOETH) pour le contrat concerné dans la période déclarée.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Cardinalité du bloc 65 -->
			<xs:element name="S21_G00_65" type="n4ds:bloc3_DSN_vers_PoleEmploi_S21_G00_65_Type" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<!--Description bloc3_DSN_vers_PoleEmploi_S21_G00_65_Type -->
	<xs:complexType name="bloc3_DSN_vers_PoleEmploi_S21_G00_65_Type">
		<xs:sequence>
			<xs:element name="S21_G00_65_001" type="n4ds_dt:Motif_suspension" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Motif de suspension</doc:name>
						<doc:description>
							Il s'agit d'une raison pour laquelle le contrat est suspendu.
							La transmission d'une annulation doit s'accompagner de la "date de début de la suspension" à annuler et de la "date de la fin de la suspension" à annuler.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_65_003" type="n4ds_dt:Date_JJMMAAAA_20" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Date de fin de la suspension</doc:name>
						<doc:description>
							Il s'agit de la date de fin prévisionnelle de la suspension de l'exécution du contrat.
							Dans le cas d'une suspension pour cause de chômage intempéries  (S21.G00.65.001 = '507') ou de chômage sans rupture du contrat de travail (S21.G00.65.001 = '602'), il s'agit de la date de fin réelle de la suspension de l'exécution du contrat.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!--Description bloc3_DSN_vers_PoleEmploi_S21_G00_86_Type -->
	<xs:complexType name="bloc3_DSN_vers_PoleEmploi_S21_G00_86_Type">
		<xs:annotation>
			<xs:documentation xml:lang="fr">
				<doc:name>Ancienneté</doc:name>
				<doc:description>
					Pour les salariés affiliés à un contrat de Prévoyance, certaines conventions collectives ou certains contrats prévoient que le salarié ne peut en bénéficier qu'à partir d'un certain délai d'ancienneté. Ce bloc permet de renseigner l’ancienneté dans l'entreprise ou le groupe, dans la branche professionnelle ou le secteur d'activité, dans le collège ou la catégorie professionnelle, ou dans le poste.
				</doc:description>
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="S21_G00_86_001" type="n4ds_dt:DSN_Anciennete_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Type</doc:name>
						<doc:description>
							L'ancienneté est qualifiée par un type.
							Pour les salariés du BTP, l'ancienneté dans la Profession représente le nombre d'exercices congés entiers dans la Profession du BTP à la fin de la période de la situation déclarée.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_86_002" type="n4ds_dt:DSN_Anciennete_Unite_Mesure" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Unité de mesure</doc:name>
						<doc:description>
							L'ancienneté peut être exprimée en jours, mois ou années. Pour un type d'ancienneté de 01 à 04, l'unité choisie doit permettre de renseigner une ancienneté différente de zéro. Pour un type d'ancienneté 05, l'unité doit être l'année.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_86_003" type="n4ds_dt:Nombre_1_5" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Valeur</doc:name>
						<doc:description>
							Ancienneté connue à la fin de la période mensuelle déclarée. Valeur zéro autorisée seulement pour le code type 05 (dans les autres cas, la valeur retenue pour le code type d'expression de l'ancienneté doit permettre d'exprimer une ancienneté non nulle). Les salariés pour lesquels l’ancienneté est supérieure à 98 ans doivent déclarer la valeur maximum de 98 ans.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_86_005" type="n4ds_dt:Type_Alphanumeric_5-20" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Numéro du contrat</doc:name>
						<doc:description>
							Identifiant unique du contrat de travail. Cet identifiant doit correspondre à la valeur de la rubrique "Numéro du contrat - S21.G00.40.009" déclarée dans un bloc "Contrat - S21.G00.40" concernant le salarié.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--Description bloc3_DSN_vers_PoleEmploi_S21_G00_85_Type -->
	<xs:complexType name="bloc3_DSN_vers_PoleEmploi_S21_G00_85_Type">
		<xs:sequence>
			<xs:element name="S21_G00_85_001" type="n4ds_dt:DSN_Identifiant_Lieu_Travail" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Identifiant du lieu de travail</doc:name>
						<doc:description>
							Code renseignant le lieu de travail effectif de l'individu.
							Renseigné par SIRET si le lieu de travail est un établissement immatriculé par un SIRET ou renseigné par une codification libre si le lieu de travail n'est pas un établissement SIRETisé.
							Un seuil d'acceptation sera fixé par voie de consigne aux éditeurs.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_85_002" type="n4ds_dt:Insee_Naf_2008_4" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code APET</doc:name>
						<doc:description>
							Le code APE est attribué par l’INSEE à toute entreprise et chacun de ses établissements lors de son inscription au répertoire SIRENE. Ce code caractérise son activité principale par référence à la nomenclature d'activités française (NAF rév. 2).
							Il est nommé APEN dans le cas d'une entreprise, et APET pour un établissement.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_85_003" type="n4ds_dt:N4DS_Adresse" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Numéro, extension, nature, libellé de voie</doc:name>
						<doc:description>
							Numéro : Il précise l’adresse dans la voie. Sa valeur est différente de 0 et ne doit pas dépasser 4 chiffres. En cas de numéro multiple, seul le premier doit être indiqué (pour exemple indiquer 4 pour 4/14)
							Extension : Lettre accolée au numéro si celui-ci ne présente pas une précision suffisante (par exemple B pour BIS, T pour TER, etc…)
							Nature de la voie : information facultative décrivant la nature de la voie (rue, avenue, etc…)
							Libellé de la voie : Appellation officielle de la voie
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_85_004" type="n4ds_dt:La_Poste_Hexaposte" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code postal</doc:name>
						<doc:description>
							Il s’agit de données d’organisation postale qui doivent être utilisées en l’état. Le code postal est composé
							de 5 chiffres. Les codes CEDEX ne sont pas admis.
							Il est également admis une tolérance pour les lieux ne disposant pas d’adresse géo-localisée (ex : La Défense) de mentionner le code postal d’une commune de référence sur laquelle est implantée le lieu.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_85_005" type="n4ds_dt:N4DS_Adresse_Localite" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Localité</doc:name>
						<doc:description>
							La localité est un élément géographique et administratif. C’est le premier élément d’identification associé au code postal. Le libellé est la plupart du temps le nom officiel de la localité enregistrée à l’INSEE et au Journal Officiel.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_85_006" type="n4ds_dt:ISO_3166-1-A2_Pays" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code Pays</doc:name>
						<doc:description>
							Nom du pays (territoire d'un état) d'implantation géographique de l'établissement du lieu de travail, exprimé sous la forme d'un code.
							Le code pays ne doit pas être renseigné pour les adresses relevant du système postal français. Le domaine d'application du système postal français est constitué des territoires suivants :
							FR - France métropolitaine
							GP : Guadeloupe
							BL : Saint Barthélémy
							MF : Saint Martin
							MQ : Martinique
							GF : Guyane Française
							RE : Ile de la Réunion
							PM : Saint Pierre et Miquelon
							YT : Mayotte
							WF : Wallis et Futuna
							PF : Polynésie Française
							NC : Nouvelle Calédonie
							MC : Monaco
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_85_007" type="n4ds_dt:N4DS_Adresse" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code de distribution à l'étranger</doc:name>
						<doc:description>
							Mention complémentaire pour les adresses ne relevant pas du système postal français.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_85_008" type="n4ds_dt:N4DS_Adresse" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Complément de la localisation de la construction</doc:name>
						<doc:description>
							Les compléments d’adresse permettent d’indiquer le point de remise exacte du courrier. Ils donnent des informations précises et déterminantes dans la phase finale de distribution du courrier, tel que le bâtiment, la boîte aux lettres, le numéro d’appartement.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_85_009" type="n4ds_dt:N4DS_Adresse" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Service de distribution, complément de localisation de la voie</doc:name>
						<doc:description>
							Il s’agit de services de distribution du courrier spécifiques proposés ou mis en place par La Poste.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_85_010" type="n4ds_dt:DSN_Nature_Juridique" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Nature juridique</doc:name>
						<doc:description>
							Indicateur permettant de préciser la nature juridique du lieu de travail :
							- Le type 01 " Etablissement" est strictement réservé à un lieu géographique SIRETisé, quel que soit le territoire (politique comme géographique ) où se situe le lieu en question, que ce soit en France ou à l'étranger.
							- Le type 02 "Autre" doit être utilisé dans les autres cas".
							- Le type 03 "A domicile" permet d'indiquer que le travail est réalisé à domicile, conformément aux articles L7412-1 à L7412-3 du code du travail.
						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S21_G00_85_011" type="n4ds_dt:DSN_CodeINSEECommune" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Code INSEE commune</doc:name>
						<doc:description>

						</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<!-- Description DSN_S10_G00_90-->
	<xs:complexType name="DSN_S90_G00_90_Type">
		<xs:sequence>
			<xs:element name="S90_G00_90_001" type="n4ds_dt:Nombre_ZNS_1_12" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Nombre total de rubriques</doc:name>
						<doc:description>Totalisation de toutes les rubriques et sous-rubriques de toutes les structures y compris celles de la structure S90.</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="S90_G00_90_002" type="n4ds_dt:Nombre_ZNS_1_5" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="fr">
						<doc:name>Nombre de DSN</doc:name>
						<doc:description>Dénombrement des structures S20 c'est à dire nombre de déclarations sociales nominatives y compris les doublons éventuels.</doc:description>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
